sample/
.cache
venv
docs/build/
.idea
__pycache__/
.coverage
.chalice/deployments
chalice/py
tf/sam.json
tf/deployment.zip
chalice.egg-info/
.hypothesis/
.pytest_cache/
.mypy_cache/
*.pyc
.vscode
.terraform